source screenrc

screen -t 源     fish  # 1
screen -t 作る   fish  # 2
screen -t 虫     fish  # 3
screen -t 試験   fish  # 4
screen -t TMP    fish  # 5
screen -t PCDem  fish  # 6
screen -t Spin   fish  # 7
screen -t 魚     fish  # 9
#
select 0

