snippet main
	if __name__ == "__main__":
	    pass

snippet forfile
	with open(filename) as inpf:
	    for line in inpf:
		    line = line.strip()

snippet py3
	#!/usr/bin/env python3

snippet end
	# --------------- end of file -----------------------------------------

snippet line
	# ---------------------------------------------------------------------

